In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [90]:
#SOURCE_FILE = 'season-1819.csv'
#SOURCE_FILE = 'season-1718.csv'
SOURCE_FILE = 'season-1617.csv'

In [91]:
pd.options.display.float_format = '{:,.2f}'.format
data = pd.read_csv(SOURCE_FILE)

In [92]:
data = data.reindex(index=data.index[::-1])

In [93]:
data.columns.values

array(['Div', 'Date', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG', 'FTR',
       'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF',
       'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D',
       'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD',
       'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD',
       'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA',
       'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5',
       'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA',
       'PSCH', 'PSCD', 'PSCA'], dtype=object)

In [94]:
if SOURCE_FILE != 'season-1819.csv': 
    mdata = data.drop(columns=['Div', 'Date','HTHG', 'HTAG', 'HTR', 'B365H', 'B365D',
           'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'LBH', 'LBD',
           'LBA', 'PSH', 'PSD', 'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD',
           'VCA', 'Bb1X2', 'BbMxH', 'BbAvH', 'BbMxD', 'BbAvD', 'BbMxA',
           'BbAvA', 'BbOU', 'BbMx>2.5', 'BbAv>2.5', 'BbMx<2.5', 'BbAv<2.5',
           'BbAH', 'BbAHh', 'BbMxAHH', 'BbAvAHH', 'BbMxAHA', 'BbAvAHA',
           'PSCH', 'PSCD', 'PSCA'])
    mdata = mdata.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals', 'FTR': 'Result', 'HS': 'HomeShots', 
                                  'AS': 'AwayShots', 'HST': 'HomeShotsTarget', 'AST': 'AwayShotsTarget', 
                                  'HC': 'HomeCorners', 'AC': 'AwayCorners',
                                  'HF': 'HomeFouls', 'AF': 'AwayFouls', 'HY': 'HomeYellow', 'AY': 'AwayYellow', 
                                  'HR': 'HomeRed', 'AR': 'AwayRed'})
else:
    mdata = data.drop(columns=['Div', 'Date', 'Time','HTHG', 'HTAG', 'HTR', 'B365H', 'B365D',
           'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD',
           'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD',
           'MaxA', 'AvgH', 'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5',
           'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh',
           'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH',
           'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA',
           'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 'WHCH', 'WHCD',
           'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH',
           'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5',
           'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH',
           'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA'])
    mdata = mdata.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals', 'FTR': 'Result',  'HS': 'HomeShots', 
                                'HC': 'HomeCorners', 'AC': 'AwayCorners',
                                  'AS': 'AwayShots', 'HST': 'HomeShotsTarget', 'AST': 'AwayShotsTarget', 'HF': 'HomeFouls',
                                'AF': 'AwayFouls', 'HY': 'HomeYellow', 'AY': 'AwayYellow', 'HR': 'HomeRed', 'AR': 'AwayRed'})

In [95]:
print("Number of teams: %d" % mdata['AwayTeam'].unique().size)

Number of teams: 20

In [96]:
mdata

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result,Referee,HomeShots,AwayShots,HomeShotsTarget,AwayShotsTarget,HomeFouls,AwayFouls,HomeCorners,AwayCorners,HomeYellow,AwayYellow,HomeRed,AwayRed
379,Watford,Man City,0,5,A,J Moss,6,15,3,9,12,10,4,5,1,0,0,0
378,Swansea,West Brom,2,1,H,M Dean,12,16,2,5,8,10,7,4,1,1,0,0
377,Southampton,Stoke,0,1,A,L Probert,14,14,6,3,12,10,4,10,2,4,0,0
376,Man United,Crystal Palace,2,0,H,A Taylor,9,6,2,1,16,10,3,6,2,0,0,0
375,Liverpool,Middlesbrough,3,0,H,M Atkinson,25,9,10,3,13,8,3,3,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,Man City,Sunderland,2,1,H,R Madley,16,7,4,3,11,14,9,6,1,2,0,0
3,Hull,Leicester,2,1,H,M Dean,14,18,5,5,8,17,5,3,2,2,0,0
2,Everton,Tottenham,1,1,D,M Atkinson,12,13,6,4,10,14,5,6,0,0,0,0
1,Crystal Palace,West Brom,0,1,A,C Pawson,14,13,4,3,12,15,3,6,2,2,0,0
0,Burnley,Swansea,0,1,A,J Moss,10,17,3,9,10,14,7,4,3,2,0,0

In [32]:
def getMean(df, column, team_column_name, team):
    team_data = mdata.loc[mdata[team_column_name] == team]
    return team_data[column].mean(axis = 0)

In [50]:
stats = pd.DataFrame(columns=['Team', 'HomeGoals', 'AwayGoals', 'HomeFouls', 'AwayFouls', 'HomeYellows',
                              'AwayYellows', 'HomeReds', 'AwayReds'])

home_team_column = 'HomeTeam'
away_team_column = 'AwayTeam'

for team in mdata['HomeTeam'].unique():
    h_mean_goals = getMean(mdata, 'HomeGoals', home_team_column, team)
    h_mean_fouls = getMean(mdata, 'HomeFouls', home_team_column, team)
    h_mean_yellow = getMean(mdata, 'HomeYellow', home_team_column, team)
    h_mean_red = getMean(mdata, 'HomeRed', home_team_column, team)
    a_mean_goals = getMean(mdata, 'AwayGoals', away_team_column, team)
    a_mean_fouls = getMean(mdata, 'AwayFouls', away_team_column, team)
    a_mean_yellow = getMean(mdata, 'AwayYellow', away_team_column, team)
    a_mean_red = getMean(mdata, 'AwayRed', away_team_column, team)
    
    stats = stats.append({'Team': team, 'HomeGoals': h_mean_goals, 'AwayGoals': a_mean_goals, 
                          'HomeFouls': h_mean_fouls, 'AwayFouls': a_mean_fouls, 
                          'HomeYellows': h_mean_yellow, 'AwayYellows': a_mean_yellow,
                          'HomeReds': h_mean_red, 'AwayReds': a_mean_red}, ignore_index = True)
    
stats

,Team,HomeGoals,AwayGoals,HomeFouls,AwayFouls,HomeYellows,AwayYellows,HomeReds,AwayReds
0,West Ham,1.26,1.26,10.16,9.79,1.79,2.00,0.00,0.11
1,Tottenham,2.11,1.79,9.32,10.89,1.05,1.53,0.00,0.11
2,Swansea,0.89,0.58,10.32,9.53,1.26,1.42,0.00,0.05
3,Southampton,1.05,0.89,10.00,11.89,1.53,1.79,0.00,0.11
4,Newcastle,1.11,0.95,10.89,10.63,1.21,1.53,0.11,0.00
5,Man United,2.00,1.58,10.74,10.53,1.53,1.84,0.00,0.05
6,Liverpool,2.37,2.05,8.74,9.37,0.95,1.37,0.00,0.05
7,Huddersfield,0.84,0.63,9.47,11.37,1.37,1.84,0.11,0.05
8,Crystal Palace,1.53,0.84,11.32,11.05,2.00,1.74,0.00,0.00
9,Burnley,0.84,1.05,8.79,9.63,1.42,2.00,0.00,0.00
10,Man City,3.21,2.37,8.89,9.21,1.37,1.68,0.05,0.05
11,Leicester,1.32,1.63,9.47,9.74,1.16,1.58,0.11,0.16
12,Chelsea,1.58,1.68,9.63,9.47,1.00,1.16,0.16,0.05
13,Arsenal,2.84,1.05,9.79,10.37,1.32,1.68,0.05,0.05
14,West Brom,1.11,0.53,12.11,11.05,1.84,1.95,0.00,0.05
15,Watford,1.42,0.89,11.79,11.42,2.16,1.16,0.11,0.11
16,Stoke,1.05,0.79,11.53,11.42,1.58,1.68,0.05,0.00
17,Everton,1.47,0.84,12.32,11.84,1.47,1.21,0.05,0.11
18,Bournemouth,1.37,1.00,8.68,9.05,1.63,1.26,0.05,0.00
19,Brighton,1.26,0.53,10.42,11.32,1.95,0.89,0.05,0.05

In [21]:
def calc_card(data, referee, column_name): 
     dd = data.loc[mdata['Referee'] == referee]
     ff = dd['Away{}'.format(column_name)] + dd['Home{}'.format(column_name)]
     return ff.mean()

In [44]:
def format_name(name):
    return name.lower().replace(' ', '_')

result_map = {'H': "home", 'A': "away", 'D': "draw"}

In [35]:
for val in mdata['AwayTeam'].unique():
    print("team({}).".format(format_name(val)))

team(swansea).
team(west_brom).
team(tottenham).
team(leicester).
team(sunderland).
team(stoke).
team(watford).
team(liverpool).
team(man_united).
team(west_ham).
team(southampton).
team(arsenal).
team(man_city).
team(hull).
team(crystal_palace).
team(chelsea).
team(everton).
team(middlesbrough).
team(bournemouth).
team(burnley).

In [36]:
for val in mdata['Referee'].unique():
    print("referee({}).".format(format_name(val)))

referee(j_moss).
referee(c_pawson).
referee(m_atkinson).
referee(m_dean).
referee(r_madley).
referee(k_friend).
referee(r_east).
referee(m_oliver).
referee(a_marriner).
referee(a_taylor).
referee(l_mason).
referee(m_clattenburg).
referee(s_attwell).
referee(n_swarbrick).
referee(p_tierney).
referee(m_jones).
referee(g_scott).
referee(l_probert).
referee(c_kavanagh).
referee(l_mason).

In [97]:
for _, row in mdata.iterrows():
    print("match({}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {}, {})."
          .format(format_name(row['HomeTeam']), format_name(row['AwayTeam']), row['HomeGoals'], row['AwayGoals'],
                  result_map[row['Result']], format_name(row['Referee']), row['HomeShots'], row['AwayShots'],
                  row['HomeShotsTarget'], row['AwayShotsTarget'], row['HomeCorners'], row['AwayCorners'],
                  row['HomeFouls'], row['AwayFouls'], row['HomeYellow'], row['AwayYellow'], row['HomeRed'], 
                  row['AwayRed']))

match(watford, man_city, 0, 5, away, j_moss, 6, 15, 3, 9, 4, 5, 12, 10, 1, 0, 0, 0).
match(swansea, west_brom, 2, 1, home, m_dean, 12, 16, 2, 5, 7, 4, 8, 10, 1, 1, 0, 0).
match(southampton, stoke, 0, 1, away, l_probert, 14, 14, 6, 3, 4, 10, 12, 10, 2, 4, 0, 0).
match(man_united, crystal_palace, 2, 0, home, a_taylor, 9, 6, 2, 1, 3, 6, 16, 10, 2, 0, 0, 0).
match(liverpool, middlesbrough, 3, 0, home, m_atkinson, 25, 9, 10, 3, 3, 3, 13, 8, 0, 1, 0, 0).
match(leicester, bournemouth, 1, 1, draw, l_mason, 21, 10, 5, 4, 9, 1, 11, 10, 4, 1, 0, 0).
match(hull, tottenham, 1, 7, away, a_marriner, 10, 19, 4, 14, 2, 3, 14, 5, 0, 0, 0, 0).
match(chelsea, sunderland, 5, 1, home, n_swarbrick, 28, 7, 8, 3, 11, 1, 8, 15, 1, 1, 0, 0).
match(burnley, west_ham, 1, 2, away, r_madley, 9, 14, 1, 4, 2, 5, 11, 14, 2, 2, 0, 0).
match(arsenal, everton, 3, 1, home, m_oliver, 17, 22, 9, 7, 4, 6, 10, 15, 2, 4, 1, 0).
match(leicester, tottenham, 1, 6, away, m_oliver, 12, 26, 5, 12, 4, 4, 11, 8, 3, 1, 0, 0).
match(southampton, man_united, 0, 0, draw, m_dean, 17, 11, 6, 1, 7, 3, 7, 10, 2, 1, 0, 0).
match(man_city, west_brom, 3, 1, home, c_pawson, 21, 5, 10, 2, 7, 1, 8, 11, 1, 2, 0, 0).
match(arsenal, sunderland, 2, 0, home, r_east, 36, 6, 13, 2, 17, 3, 15, 10, 4, 2, 0, 0).
match(chelsea, watford, 4, 3, home, l_mason, 24, 9, 9, 3, 8, 3, 7, 12, 2, 4, 0, 1).
match(west_ham, liverpool, 0, 4, away, n_swarbrick, 10, 26, 3, 11, 4, 6, 5, 10, 2, 0, 0, 0).
match(tottenham, man_united, 2, 1, home, j_moss, 14, 8, 7, 2, 8, 3, 14, 15, 1, 2, 0, 0).
match(crystal_palace, hull, 4, 0, home, m_atkinson, 12, 9, 4, 0, 3, 7, 13, 14, 3, 5, 0, 0).
match(sunderland, swansea, 0, 2, away, a_marriner, 13, 3, 4, 3, 8, 4, 13, 6, 4, 0, 0, 0).
match(stoke, arsenal, 1, 4, away, m_dean, 10, 10, 4, 6, 7, 6, 13, 7, 1, 2, 0, 0).
match(middlesbrough, southampton, 1, 2, away, a_taylor, 14, 14, 3, 4, 6, 3, 19, 11, 3, 0, 0, 0).
match(man_city, leicester, 2, 1, home, r_madley, 17, 9, 5, 4, 9, 3, 12, 16, 3, 3, 0, 0).
match(bournemouth, burnley, 2, 1, home, l_probert, 18, 14, 6, 3, 7, 1, 6, 11, 0, 1, 0, 0).
match(west_brom, chelsea, 0, 1, away, m_oliver, 7, 24, 2, 5, 5, 8, 13, 8, 3, 0, 0, 0).
match(everton, watford, 1, 0, home, k_friend, 15, 14, 6, 2, 9, 8, 7, 11, 0, 3, 0, 0).
match(southampton, arsenal, 0, 2, away, j_moss, 14, 11, 3, 4, 8, 5, 5, 5, 1, 2, 0, 0).
match(chelsea, middlesbrough, 3, 0, home, c_pawson, 21, 2, 7, 1, 8, 1, 8, 21, 0, 2, 0, 0).
match(liverpool, southampton, 0, 0, draw, r_madley, 17, 4, 8, 0, 3, 6, 9, 4, 1, 3, 0, 0).
match(arsenal, man_united, 2, 0, home, a_marriner, 9, 10, 4, 4, 5, 9, 14, 10, 1, 0, 0, 0).
match(swansea, everton, 1, 0, home, m_atkinson, 9, 8, 4, 2, 9, 5, 5, 13, 0, 0, 0, 0).
match(man_city, crystal_palace, 5, 0, home, m_oliver, 26, 5, 12, 2, 9, 3, 12, 8, 1, 3, 0, 0).
match(leicester, watford, 3, 0, home, r_east, 11, 14, 5, 7, 10, 1, 8, 10, 0, 0, 0, 0).
match(hull, sunderland, 0, 2, away, n_swarbrick, 16, 12, 6, 5, 7, 4, 10, 8, 3, 1, 0, 0).
match(burnley, west_brom, 2, 2, draw, m_jones, 14, 11, 4, 3, 5, 8, 9, 14, 1, 3, 0, 0).
match(bournemouth, stoke, 2, 2, draw, p_tierney, 12, 14, 2, 3, 0, 7, 10, 15, 2, 0, 0, 0).
match(west_ham, tottenham, 1, 0, home, a_taylor, 13, 11, 5, 5, 3, 7, 8, 9, 4, 2, 0, 0).
match(watford, liverpool, 0, 1, away, c_pawson, 9, 12, 2, 8, 3, 5, 11, 9, 3, 1, 0, 0).
match(tottenham, arsenal, 2, 0, home, m_oliver, 20, 12, 11, 4, 14, 5, 7, 15, 1, 3, 0, 0).
match(middlesbrough, man_city, 2, 2, draw, k_friend, 14, 22, 6, 4, 4, 11, 9, 9, 4, 4, 0, 0).
match(man_united, swansea, 1, 1, draw, n_swarbrick, 12, 12, 6, 4, 5, 2, 11, 13, 2, 2, 0, 0).
match(everton, chelsea, 0, 3, away, j_moss, 12, 11, 4, 5, 2, 4, 13, 11, 3, 4, 0, 0).
match(west_brom, leicester, 0, 1, away, m_clattenburg, 16, 6, 4, 1, 5, 6, 14, 9, 2, 2, 0, 0).
match(sunderland, bournemouth, 0, 1, away, s_attwell, 17, 15, 5, 7, 6, 5, 13, 9, 3, 2, 0, 0).
match(stoke, west_ham, 0, 0, draw, l_probert, 19, 12, 4, 4, 5, 3, 12, 3, 1, 0, 0, 0).
match(southampton, hull, 0, 0, draw, m_dean, 11, 9, 2, 1, 6, 6, 9, 13, 0, 3, 0, 0).
match(crystal_palace, burnley, 0, 2, away, r_madley, 15, 9, 5, 3, 14, 4, 11, 12, 2, 0, 0, 0).
match(man_city, man_united, 0, 0, draw, m_atkinson, 19, 3, 6, 1, 7, 4, 10, 8, 1, 0, 0, 1).
match(middlesbrough, sunderland, 1, 0, home, m_dean, 6, 10, 2, 4, 3, 5, 15, 11, 3, 3, 0, 0).
match(crystal_palace, tottenham, 0, 1, away, j_moss, 6, 18, 1, 4, 2, 11, 13, 15, 3, 3, 0, 0).
match(arsenal, leicester, 1, 0, home, m_jones, 12, 7, 5, 3, 12, 1, 9, 13, 2, 4, 0, 0).
match(chelsea, southampton, 4, 2, home, l_mason, 17, 12, 7, 4, 6, 7, 13, 9, 2, 2, 0, 0).
match(liverpool, crystal_palace, 1, 2, away, a_marriner, 14, 7, 1, 3, 4, 3, 8, 10, 1, 2, 0, 0).
match(burnley, man_united, 0, 2, away, a_taylor, 8, 12, 0, 6, 3, 3, 17, 16, 2, 1, 0, 0).
match(west_ham, everton, 0, 0, draw, r_east, 15, 4, 3, 0, 8, 4, 9, 15, 2, 3, 0, 0).
match(swansea, stoke, 2, 0, home, m_oliver, 10, 9, 6, 3, 11, 4, 5, 14, 2, 2, 0, 0).
match(hull, watford, 2, 0, home, r_madley, 8, 13, 3, 2, 4, 7, 10, 11, 3, 1, 1, 0).
match(bournemouth, middlesbrough, 4, 0, home, g_scott, 20, 5, 10, 2, 4, 3, 4, 14, 0, 2, 0, 1).
match(middlesbrough, arsenal, 1, 2, away, a_taylor, 13, 12, 5, 4, 2, 4, 11, 16, 2, 2, 0, 0).
match(west_brom, liverpool, 0, 1, away, j_moss, 7, 15, 2, 2, 4, 4, 15, 9, 3, 1, 0, 0).
match(man_united, chelsea, 2, 0, home, r_madley, 9, 5, 3, 0, 1, 3, 16, 20, 3, 3, 0, 0).
match(watford, swansea, 1, 0, home, l_mason, 15, 13, 7, 4, 6, 2, 8, 13, 0, 0, 0, 0).
match(tottenham, bournemouth, 4, 0, home, m_oliver, 24, 5, 14, 1, 13, 1, 8, 10, 0, 1, 0, 0).
match(sunderland, west_ham, 2, 2, draw, a_marriner, 14, 7, 4, 3, 8, 1, 14, 10, 1, 0, 0, 1).
match(stoke, hull, 3, 1, home, s_attwell, 14, 14, 4, 3, 3, 7, 12, 5, 0, 2, 0, 0).
match(southampton, man_city, 0, 3, away, n_swarbrick, 8, 18, 1, 5, 3, 8, 9, 8, 3, 0, 0, 0).
match(everton, burnley, 3, 1, home, m_clattenburg, 29, 13, 7, 6, 6, 7, 15, 14, 2, 0, 0, 0).
match(crystal_palace, leicester, 2, 2, draw, m_dean, 15, 6, 4, 2, 8, 5, 10, 16, 0, 2, 0, 0).
match(crystal_palace, arsenal, 3, 0, home, m_oliver, 17, 11, 6, 3, 5, 8, 11, 10, 0, 1, 0, 0).
match(sunderland, man_united, 0, 3, away, c_pawson, 9, 18, 4, 9, 4, 5, 14, 20, 1, 5, 1, 0).
match(everton, leicester, 4, 2, home, r_madley, 12, 6, 7, 4, 4, 6, 8, 15, 2, 2, 0, 0).
match(west_ham, swansea, 1, 0, home, k_friend, 14, 4, 6, 1, 4, 3, 12, 12, 5, 1, 0, 0).
match(west_brom, southampton, 0, 1, away, c_kavanagh, 17, 10, 6, 3, 7, 3, 12, 12, 2, 2, 0, 0).
match(tottenham, watford, 4, 0, home, a_taylor, 19, 8, 6, 2, 7, 5, 12, 12, 0, 1, 0, 0).
match(stoke, liverpool, 1, 2, away, m_dean, 9, 14, 4, 4, 5, 8, 7, 11, 0, 2, 0, 0).
match(middlesbrough, burnley, 0, 0, draw, m_atkinson, 12, 7, 5, 2, 4, 3, 9, 12, 0, 3, 0, 0).
match(man_city, hull, 3, 1, home, j_moss, 23, 6, 7, 1, 7, 3, 6, 8, 0, 2, 0, 0).
match(bournemouth, chelsea, 1, 3, away, a_marriner, 12, 15, 1, 5, 4, 4, 7, 11, 2, 3, 0, 0).
match(swansea, tottenham, 1, 3, away, j_moss, 4, 18, 1, 8, 5, 7, 7, 8, 1, 1, 0, 0).
match(southampton, crystal_palace, 3, 1, home, r_east, 25, 17, 9, 3, 11, 11, 16, 11, 2, 1, 0, 0).
match(liverpool, bournemouth, 2, 2, draw, l_mason, 20, 7, 8, 2, 7, 2, 11, 8, 1, 1, 0, 0).
match(hull, middlesbrough, 4, 2, home, m_oliver, 17, 12, 5, 4, 8, 4, 13, 12, 2, 1, 0, 0).
match(chelsea, man_city, 2, 1, home, m_dean, 10, 17, 4, 7, 2, 9, 10, 14, 1, 3, 0, 0).
match(arsenal, west_ham, 3, 0, home, m_atkinson, 21, 7, 8, 2, 5, 0, 11, 5, 2, 2, 0, 0).
match(watford, west_brom, 2, 0, home, p_tierney, 9, 18, 2, 2, 5, 6, 11, 14, 1, 4, 1, 0).
match(man_united, everton, 1, 1, draw, n_swarbrick, 18, 11, 3, 4, 6, 5, 10, 18, 1, 4, 0, 1).
match(leicester, sunderland, 2, 0, home, g_scott, 19, 15, 8, 3, 5, 6, 12, 13, 0, 1, 0, 0).
match(burnley, stoke, 1, 0, home, k_friend, 7, 15, 3, 2, 3, 5, 9, 16, 3, 2, 0, 0).
match(swansea, middlesbrough, 0, 0, draw, r_madley, 15, 8, 3, 1, 11, 3, 9, 16, 2, 3, 0, 0).
match(arsenal, man_city, 2, 2, draw, a_marriner, 8, 14, 3, 5, 3, 8, 8, 15, 3, 2, 0, 0).
match(watford, sunderland, 1, 0, home, l_probert, 23, 11, 10, 3, 13, 9, 12, 8, 1, 3, 0, 0).
match(southampton, bournemouth, 0, 0, draw, j_moss, 14, 12, 4, 3, 6, 3, 14, 8, 1, 0, 0, 0).
match(man_united, west_brom, 0, 0, draw, m_dean, 18, 3, 3, 1, 6, 1, 15, 13, 3, 3, 0, 0).
match(liverpool, everton, 3, 1, home, a_taylor, 10, 9, 6, 4, 2, 3, 17, 10, 1, 3, 0, 0).
match(leicester, stoke, 2, 0, home, l_mason, 23, 10, 10, 2, 10, 4, 7, 11, 1, 4, 0, 0).
match(hull, west_ham, 2, 1, home, m_jones, 7, 12, 3, 4, 5, 5, 16, 9, 2, 2, 0, 0).
match(chelsea, crystal_palace, 1, 2, away, c_pawson, 24, 8, 11, 3, 9, 3, 12, 14, 3, 2, 0, 0).
match(burnley, tottenham, 0, 2, away, s_attwell, 13, 19, 2, 7, 3, 7, 9, 6, 2, 0, 0, 0).
match(tottenham, southampton, 2, 1, home, a_marriner, 12, 8, 6, 3, 5, 1, 12, 13, 3, 3, 0, 0).
match(middlesbrough, man_united, 1, 3, away, j_moss, 10, 14, 3, 6, 8, 3, 9, 8, 1, 1, 0, 0).
match(man_city, liverpool, 1, 1, draw, m_oliver, 13, 13, 3, 4, 9, 8, 14, 7, 3, 3, 0, 0).
match(west_ham, leicester, 2, 3, away, r_east, 20, 11, 7, 5, 6, 5, 10, 14, 0, 1, 0, 0).
match(west_brom, arsenal, 3, 1, home, n_swarbrick, 12, 11, 8, 2, 4, 5, 5, 6, 1, 0, 0, 0).
match(sunderland, burnley, 0, 0, draw, r_madley, 14, 17, 5, 3, 3, 5, 14, 7, 2, 1, 0, 0).
match(stoke, chelsea, 1, 2, away, a_taylor, 5, 20, 1, 7, 5, 11, 16, 11, 4, 2, 1, 0).
match(everton, hull, 4, 0, home, p_tierney, 14, 6, 8, 0, 5, 8, 9, 7, 2, 0, 0, 1).
match(crystal_palace, watford, 1, 0, home, m_atkinson, 7, 6, 0, 2, 3, 2, 8, 15, 0, 2, 0, 0).
match(bournemouth, swansea, 2, 0, home, m_dean, 12, 10, 6, 1, 2, 4, 10, 9, 0, 2, 0, 0).
match(liverpool, burnley, 2, 1, home, c_pawson, 10, 11, 3, 1, 11, 1, 12, 16, 2, 2, 0, 0).
match(hull, swansea, 2, 1, home, a_marriner, 15, 11, 7, 3, 2, 7, 14, 5, 3, 1, 0, 0).
match(everton, west_brom, 3, 0, home, g_scott, 16, 5, 5, 2, 4, 6, 8, 12, 1, 2, 0, 0).
match(bournemouth, west_ham, 3, 2, home, r_madley, 21, 15, 9, 7, 5, 6, 20, 15, 4, 2, 0, 0).
match(man_city, stoke, 0, 0, draw, n_swarbrick, 12, 5, 1, 2, 8, 1, 8, 11, 1, 3, 0, 0).
match(west_ham, chelsea, 1, 2, away, a_marriner, 11, 9, 2, 4, 6, 4, 8, 8, 0, 1, 0, 0).
match(tottenham, everton, 3, 2, home, m_oliver, 20, 8, 7, 4, 7, 2, 9, 14, 1, 2, 0, 0).
match(sunderland, man_city, 0, 2, away, m_atkinson, 11, 14, 3, 7, 6, 4, 11, 4, 1, 0, 0, 0).
match(west_brom, crystal_palace, 0, 2, away, m_jones, 11, 10, 1, 4, 5, 5, 8, 12, 0, 1, 0, 0).
match(watford, southampton, 3, 4, away, j_moss, 16, 20, 4, 11, 6, 5, 16, 9, 3, 2, 0, 0).
match(swansea, burnley, 3, 2, home, a_taylor, 23, 6, 10, 4, 9, 2, 7, 13, 2, 2, 0, 0).
match(stoke, middlesbrough, 2, 0, home, c_pawson, 13, 8, 8, 2, 6, 1, 16, 20, 1, 2, 0, 0).
match(man_united, bournemouth, 1, 1, draw, k_friend, 20, 3, 7, 1, 15, 2, 9, 11, 3, 2, 0, 1).
match(liverpool, arsenal, 3, 1, home, r_madley, 18, 7, 7, 3, 9, 3, 8, 15, 1, 2, 0, 0).
match(leicester, hull, 3, 1, home, m_dean, 17, 10, 5, 4, 10, 4, 12, 13, 1, 1, 0, 0).
match(leicester, liverpool, 3, 1, home, m_oliver, 13, 17, 7, 7, 5, 12, 8, 5, 0, 0, 0, 0).
match(tottenham, stoke, 4, 0, home, j_moss, 21, 5, 9, 3, 8, 5, 11, 14, 2, 3, 0, 0).
match(west_brom, bournemouth, 2, 1, home, m_clattenburg, 13, 12, 4, 4, 8, 6, 12, 5, 2, 0, 0, 0).
match(watford, west_ham, 1, 1, draw, c_pawson, 9, 13, 1, 2, 4, 6, 18, 14, 4, 1, 0, 1).
match(hull, burnley, 1, 1, draw, m_atkinson, 15, 10, 1, 3, 6, 3, 8, 13, 1, 1, 0, 1).
match(everton, sunderland, 2, 0, home, s_attwell, 20, 10, 8, 1, 10, 6, 10, 16, 0, 2, 0, 0).
match(crystal_palace, middlesbrough, 1, 0, home, r_madley, 15, 11, 3, 4, 4, 2, 13, 15, 3, 1, 0, 0).
match(chelsea, swansea, 3, 1, home, n_swarbrick, 16, 3, 5, 2, 8, 1, 11, 14, 1, 3, 0, 0).
match(bournemouth, man_city, 0, 2, away, n_swarbrick, 5, 17, 1, 5, 3, 7, 8, 11, 2, 3, 0, 0).
match(swansea, leicester, 2, 0, home, j_moss, 10, 9, 4, 1, 7, 3, 7, 14, 2, 2, 0, 0).
match(burnley, chelsea, 1, 1, draw, k_friend, 6, 13, 4, 2, 1, 1, 12, 11, 3, 2, 0, 0).
match(west_ham, west_brom, 2, 2, draw, m_oliver, 16, 8, 4, 3, 7, 5, 7, 14, 3, 2, 0, 0).
match(sunderland, southampton, 0, 4, away, p_tierney, 6, 15, 1, 8, 6, 2, 12, 14, 1, 0, 0, 0).
match(stoke, crystal_palace, 1, 0, home, m_atkinson, 7, 6, 4, 1, 5, 5, 10, 14, 1, 3, 0, 0).
match(middlesbrough, everton, 0, 0, draw, m_dean, 9, 7, 3, 3, 5, 2, 14, 9, 2, 0, 0, 0).
match(man_united, watford, 2, 0, home, r_madley, 22, 9, 11, 3, 5, 1, 10, 12, 1, 0, 0, 0).
match(liverpool, tottenham, 2, 0, home, a_taylor, 17, 7, 9, 2, 10, 3, 14, 14, 3, 4, 0, 0).
match(arsenal, hull, 2, 0, home, m_clattenburg, 17, 9, 7, 4, 3, 8, 12, 9, 3, 1, 0, 1).
match(man_city, swansea, 2, 1, home, m_dean, 17, 4, 5, 2, 10, 3, 9, 13, 2, 3, 0, 0).
match(leicester, man_united, 0, 3, away, a_taylor, 11, 15, 1, 9, 10, 3, 12, 13, 2, 4, 0, 0).
match(west_brom, stoke, 1, 0, home, k_friend, 16, 12, 4, 2, 5, 6, 6, 13, 2, 2, 0, 0).
match(watford, burnley, 2, 1, home, m_oliver, 16, 11, 7, 7, 3, 6, 12, 10, 5, 0, 0, 1).
match(tottenham, middlesbrough, 1, 0, home, m_clattenburg, 17, 8, 5, 0, 11, 2, 8, 11, 0, 1, 0, 0).
match(southampton, west_ham, 1, 3, away, g_scott, 21, 6, 7, 4, 3, 2, 12, 15, 0, 2, 0, 0).
match(hull, liverpool, 2, 0, home, l_mason, 7, 22, 4, 5, 1, 15, 9, 12, 2, 1, 0, 0).
match(everton, bournemouth, 6, 3, home, m_jones, 15, 18, 10, 8, 4, 8, 14, 4, 3, 1, 0, 0).
match(crystal_palace, sunderland, 0, 4, away, a_marriner, 21, 10, 9, 7, 6, 1, 8, 8, 3, 3, 0, 0).
match(chelsea, arsenal, 3, 1, home, m_atkinson, 13, 9, 6, 5, 10, 13, 14, 8, 1, 1, 0, 0).
match(west_ham, man_city, 0, 4, away, k_friend, 6, 11, 1, 4, 2, 4, 11, 14, 3, 3, 0, 0).
match(stoke, everton, 1, 1, draw, c_pawson, 14, 14, 7, 5, 5, 5, 21, 12, 1, 0, 0, 0).
match(man_united, hull, 0, 0, draw, m_jones, 15, 6, 6, 2, 7, 1, 20, 16, 1, 4, 0, 0).
match(swansea, southampton, 2, 1, home, r_east, 11, 10, 5, 2, 5, 4, 10, 19, 2, 0, 0, 0).
match(sunderland, tottenham, 0, 0, draw, l_mason, 3, 14, 1, 3, 2, 12, 9, 13, 2, 1, 0, 0).
match(middlesbrough, west_brom, 1, 1, draw, s_attwell, 11, 16, 3, 5, 4, 2, 12, 13, 2, 1, 0, 0).
match(liverpool, chelsea, 1, 1, draw, m_clattenburg, 7, 8, 3, 2, 3, 3, 13, 8, 2, 1, 0, 0).
match(burnley, leicester, 1, 0, home, m_dean, 24, 13, 3, 5, 10, 2, 4, 8, 1, 0, 0, 0).
match(bournemouth, crystal_palace, 0, 2, away, j_moss, 10, 11, 2, 4, 2, 3, 14, 23, 0, 4, 0, 0).
match(arsenal, watford, 1, 2, away, a_marriner, 20, 10, 5, 6, 9, 5, 12, 15, 3, 3, 0, 0).
match(southampton, leicester, 3, 0, home, m_oliver, 20, 11, 7, 2, 7, 2, 8, 10, 0, 1, 0, 0).
match(chelsea, hull, 2, 0, home, n_swarbrick, 9, 9, 5, 4, 9, 7, 12, 10, 1, 3, 0, 0).
match(arsenal, burnley, 2, 1, home, j_moss, 24, 13, 8, 7, 10, 4, 12, 11, 1, 3, 1, 0).
match(west_brom, sunderland, 2, 0, home, c_pawson, 14, 9, 5, 3, 1, 4, 15, 12, 1, 1, 0, 0).
match(stoke, man_united, 1, 1, draw, m_clattenburg, 6, 25, 1, 8, 1, 7, 12, 13, 4, 0, 0, 0).
match(middlesbrough, west_ham, 1, 3, away, m_atkinson, 11, 13, 2, 5, 7, 5, 7, 14, 2, 1, 0, 0).
match(man_city, tottenham, 2, 2, draw, a_marriner, 17, 6, 7, 2, 5, 4, 10, 7, 2, 4, 0, 0).
match(liverpool, swansea, 2, 3, away, k_friend, 16, 6, 5, 3, 6, 3, 7, 7, 1, 1, 0, 0).
match(crystal_palace, everton, 0, 1, away, a_taylor, 8, 16, 2, 8, 8, 7, 10, 15, 0, 1, 0, 0).
match(bournemouth, watford, 2, 2, draw, l_mason, 15, 10, 5, 3, 9, 4, 6, 16, 1, 1, 0, 0).
match(man_united, liverpool, 1, 1, draw, m_oliver, 9, 13, 3, 4, 5, 7, 17, 13, 1, 3, 0, 0).
match(everton, man_city, 4, 0, home, m_clattenburg, 6, 13, 4, 5, 3, 6, 17, 7, 2, 2, 0, 0).
match(west_ham, crystal_palace, 3, 0, home, n_swarbrick, 14, 10, 3, 1, 2, 2, 10, 14, 4, 2, 0, 0).
match(watford, middlesbrough, 0, 0, draw, j_moss, 12, 5, 5, 1, 3, 1, 15, 15, 3, 1, 0, 0).
match(tottenham, west_brom, 4, 0, home, a_taylor, 21, 3, 11, 0, 8, 0, 11, 12, 0, 2, 0, 0).
match(swansea, arsenal, 0, 4, away, m_jones, 12, 14, 3, 6, 3, 2, 12, 8, 2, 0, 0, 0).
match(sunderland, stoke, 1, 3, away, m_dean, 14, 14, 3, 6, 5, 2, 16, 11, 3, 1, 0, 0).
match(leicester, chelsea, 0, 3, away, a_marriner, 7, 8, 2, 3, 3, 5, 8, 9, 1, 0, 0, 0).
match(hull, bournemouth, 3, 1, home, m_atkinson, 14, 8, 3, 6, 4, 5, 13, 11, 0, 1, 0, 0).
match(burnley, southampton, 1, 0, home, p_tierney, 9, 20, 3, 5, 2, 7, 14, 14, 1, 2, 0, 0).
match(tottenham, chelsea, 2, 0, home, m_atkinson, 9, 11, 2, 2, 1, 6, 9, 8, 3, 2, 0, 0).
match(stoke, watford, 2, 0, home, n_swarbrick, 17, 9, 5, 2, 7, 6, 10, 15, 1, 2, 0, 0).
match(crystal_palace, swansea, 1, 2, away, p_tierney, 7, 11, 3, 4, 4, 5, 13, 14, 2, 1, 0, 0).
match(bournemouth, arsenal, 3, 3, draw, m_oliver, 12, 14, 6, 4, 4, 7, 10, 12, 3, 3, 1, 0).
match(west_ham, man_united, 0, 2, away, m_dean, 8, 13, 2, 6, 2, 1, 9, 13, 1, 2, 1, 0).
match(west_brom, hull, 3, 1, home, m_clattenburg, 8, 17, 5, 6, 7, 9, 5, 4, 0, 0, 0, 0).
match(sunderland, liverpool, 2, 2, draw, a_taylor, 10, 21, 5, 15, 2, 5, 10, 10, 2, 3, 0, 0).
match(middlesbrough, leicester, 0, 0, draw, r_madley, 9, 10, 1, 4, 2, 2, 10, 9, 3, 0, 0, 0).
match(man_city, burnley, 2, 1, home, l_mason, 14, 11, 3, 3, 8, 8, 11, 11, 4, 3, 1, 0).
match(everton, southampton, 3, 0, home, k_friend, 17, 12, 6, 3, 10, 8, 5, 14, 0, 1, 0, 0).
match(watford, tottenham, 1, 4, away, m_oliver, 6, 19, 2, 6, 0, 3, 11, 6, 3, 0, 0, 0).
match(arsenal, crystal_palace, 2, 0, home, a_marriner, 22, 7, 7, 4, 8, 4, 9, 7, 1, 1, 0, 0).
match(swansea, bournemouth, 0, 3, away, k_friend, 14, 11, 5, 6, 4, 3, 14, 9, 2, 0, 0, 0).
match(southampton, west_brom, 1, 2, away, m_jones, 10, 7, 1, 3, 8, 3, 13, 17, 1, 3, 1, 0).
match(man_united, middlesbrough, 2, 1, home, l_mason, 32, 9, 12, 2, 12, 2, 9, 14, 1, 1, 0, 0).
match(liverpool, man_city, 1, 0, home, c_pawson, 5, 9, 1, 2, 4, 6, 12, 12, 2, 1, 0, 0).
match(leicester, west_ham, 1, 0, home, a_taylor, 12, 25, 4, 5, 7, 7, 11, 8, 5, 3, 0, 0).
match(chelsea, stoke, 4, 2, home, r_madley, 18, 5, 7, 2, 8, 3, 12, 10, 3, 2, 0, 0).
match(burnley, sunderland, 4, 1, home, g_scott, 16, 11, 6, 3, 6, 2, 10, 8, 1, 1, 0, 0).
match(hull, everton, 2, 2, draw, j_moss, 13, 20, 4, 7, 5, 5, 10, 13, 2, 2, 0, 0).
match(southampton, tottenham, 1, 4, away, m_dean, 9, 17, 2, 5, 2, 10, 7, 16, 1, 4, 1, 0).
match(liverpool, stoke, 4, 1, home, m_oliver, 20, 6, 6, 2, 8, 2, 9, 6, 0, 1, 0, 0).
match(watford, crystal_palace, 1, 1, draw, m_clattenburg, 9, 10, 3, 4, 7, 3, 18, 17, 2, 4, 0, 0).
match(swansea, west_ham, 1, 4, away, a_marriner, 14, 14, 7, 7, 8, 4, 10, 12, 0, 0, 0, 0).
match(man_united, sunderland, 3, 1, home, m_atkinson, 26, 7, 9, 4, 5, 5, 6, 9, 1, 1, 0, 0).
match(leicester, everton, 0, 2, away, s_attwell, 7, 8, 2, 3, 3, 4, 14, 7, 3, 0, 0, 0).
match(hull, man_city, 0, 3, away, r_madley, 10, 16, 3, 6, 4, 7, 11, 14, 1, 0, 0, 0).
match(chelsea, bournemouth, 3, 0, home, m_jones, 14, 7, 4, 3, 5, 5, 13, 14, 1, 1, 0, 0).
match(burnley, middlesbrough, 1, 0, home, c_pawson, 6, 8, 4, 2, 7, 3, 17, 18, 6, 5, 0, 0).
match(arsenal, west_brom, 1, 0, home, n_swarbrick, 26, 3, 11, 1, 6, 5, 11, 7, 2, 1, 0, 0).
match(everton, liverpool, 0, 1, away, m_dean, 6, 11, 1, 4, 1, 6, 13, 9, 3, 1, 0, 0).
match(tottenham, burnley, 2, 1, home, k_friend, 30, 5, 9, 2, 11, 2, 10, 11, 1, 2, 0, 0).
match(man_city, arsenal, 2, 1, home, m_atkinson, 14, 6, 5, 1, 8, 1, 9, 13, 4, 2, 0, 0).
match(bournemouth, southampton, 1, 3, away, m_clattenburg, 10, 14, 5, 8, 7, 4, 6, 12, 0, 2, 0, 0).
match(west_ham, hull, 1, 0, home, l_mason, 18, 16, 6, 5, 10, 6, 13, 9, 2, 4, 0, 0).
match(west_brom, man_united, 0, 2, away, a_taylor, 10, 10, 1, 5, 2, 3, 9, 13, 3, 3, 0, 0).
match(sunderland, watford, 1, 0, home, r_madley, 12, 9, 4, 4, 4, 11, 10, 9, 1, 2, 0, 0).
match(stoke, leicester, 2, 2, draw, c_pawson, 16, 14, 7, 8, 9, 9, 9, 12, 2, 6, 0, 1).
match(middlesbrough, swansea, 3, 0, home, n_swarbrick, 10, 14, 4, 2, 3, 8, 10, 11, 1, 0, 0, 0).
match(crystal_palace, chelsea, 0, 1, away, j_moss, 6, 13, 2, 6, 5, 3, 12, 15, 2, 3, 0, 0).
match(west_ham, burnley, 1, 0, home, r_madley, 20, 8, 7, 2, 6, 1, 12, 15, 0, 2, 0, 0).
match(west_brom, swansea, 3, 1, home, m_oliver, 13, 8, 4, 4, 0, 11, 8, 8, 0, 0, 0, 0).
match(tottenham, hull, 3, 0, home, a_marriner, 27, 10, 9, 5, 5, 5, 6, 14, 0, 2, 0, 0).

In [11]:
mdata

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result,Referee,HomeFouls,AwayFouls,HomeYellow,AwayYellow,HomeRed,AwayRed
0,Liverpool,Norwich,4,1,H,M Oliver,9,9,0,2,0,0
1,West Ham,Man City,0,5,A,M Dean,6,13,2,2,0,0
2,Bournemouth,Sheffield United,1,1,D,K Friend,10,19,2,1,0,0
3,Burnley,Southampton,3,0,H,G Scott,6,12,0,0,0,0
4,Crystal Palace,Everton,0,0,D,J Moss,16,14,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
85,Tottenham,Watford,1,1,D,C Kavanagh,5,9,4,3,0,0
86,Wolves,Southampton,1,1,D,P Bankes,10,17,3,2,0,0
87,Crystal Palace,Man City,0,2,A,A Taylor,8,10,1,1,0,0
88,Man United,Liverpool,1,1,D,M Atkinson,6,14,0,1,0,0
89,Sheffield United,Arsenal,1,0,H,M Dean,10,12,4,4,0,0

In [13]:
r_stats = pd.DataFrame(columns=['Referee', 'Yellows', 'Reds'])

for referee in mdata['Referee'].unique():
    yellows = calc_card(mdata, referee, 'Yellow')
    reds = calc_card(mdata, referee, 'Red')
    r_stats = r_stats.append({'Referee': referee, 'Yellows': yellows, 'Reds': reds}, ignore_index = True)
    
r_stats

       Referee  Yellows  Reds
0     M Oliver     3.57  0.00
1       M Dean     4.38  0.25
2     K Friend     4.60  0.40
3      G Scott     2.60  0.40
4       J Moss     3.57  0.29
5     C Pawson     3.60  0.20
6   C Kavanagh     3.43  0.00
7   A Marriner     2.33  0.00
8   M Atkinson     3.25  0.00
9     A Taylor     3.75  0.12
10     L Mason     4.00  0.25
11   S Attwell     3.00  0.25
12     D Coote     2.67  0.33
13  O Langford     1.00  0.00
14   P Tierney     3.14  0.00
15    A Madley     2.50  0.00
16    P Bankes     4.50  0.00
17    S Hooper     4.00  0.00