In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('E0.csv')

In [8]:
data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,E0,19/10/2019,15:00,Tottenham,Watford,1,1,D,0,1,...,2.39,-1.00,1.86,2.04,1.90,2.02,1.91,2.10,1.84,2.04
86,E0,19/10/2019,15:00,Wolves,Southampton,1,1,D,0,0,...,1.66,-0.50,2.11,1.79,2.11,1.83,2.16,1.87,2.08,1.81
87,E0,19/10/2019,17:30,Crystal Palace,Man City,0,2,A,0,2,...,2.91,2.00,1.87,2.03,1.92,2.02,1.95,2.07,1.86,2.01
88,E0,20/10/2019,16:30,Man United,Liverpool,1,1,D,1,0,...,1.82,0.50,1.90,2.00,1.93,2.01,1.95,2.05,1.90,1.99
89,E0,21/10/2019,20:00,Sheffield United,Arsenal,1,0,H,1,0,...,1.94,0.25,2.05,1.75,2.15,1.79,2.19,1.83,2.12,1.79

In [7]:
data.columns.values

array(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG',
       'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST',
       'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D',
       'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD',
       'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD',
       'MaxA', 'AvgH', 'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5',
       'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh',
       'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH',
       'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA',
       'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 'WHCH', 'WHCD',
       'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH',
       'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5',
       'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH',
       'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH',
       'AvgCAHA'], dtype=object)

In [10]:
data.drop(columns=['Div', 'Date', 'Time','HTHG', 'HTAG', 'HTR','B365>2.5', 'B365<2.5', 'P>2.5',
       'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh',
       'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH',
       'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA',
       'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 'WHCH', 'WHCD',
       'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH',
       'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5',
       'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH',
       'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH',
       'AvgCAHA'])

,HomeTeam,AwayTeam,FTHG,FTAG,FTR,Referee,HS,AS,HST,AST,...,WHA,VCH,VCD,VCA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA
0,Liverpool,Norwich,4,1,H,M Oliver,15,12,7,5,...,21.00,1.14,9.50,23.00,1.16,10.00,23.00,1.14,8.75,19.83
1,West Ham,Man City,0,5,A,M Dean,5,14,3,9,...,1.24,12.00,6.50,1.25,13.00,6.75,1.29,11.84,6.28,1.25
2,Bournemouth,Sheffield United,1,1,D,K Friend,13,8,3,3,...,3.80,2.00,3.60,4.00,2.06,3.65,4.00,2.01,3.53,3.83
3,Burnley,Southampton,3,0,H,G Scott,10,11,4,3,...,2.75,2.70,3.30,2.80,2.80,3.33,2.85,2.68,3.22,2.78
4,Crystal Palace,Everton,0,0,D,J Moss,6,10,2,3,...,2.35,3.20,3.30,2.45,3.21,3.40,2.52,3.13,3.27,2.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,Tottenham,Watford,1,1,D,C Kavanagh,12,7,2,2,...,8.00,1.40,5.00,8.00,1.45,5.10,8.00,1.42,4.90,7.48
86,Wolves,Southampton,1,1,D,P Bankes,4,14,1,5,...,4.50,1.85,3.50,4.75,1.90,3.75,4.75,1.85,3.58,4.52
87,Crystal Palace,Man City,0,2,A,A Taylor,7,21,2,10,...,1.22,13.00,6.50,1.22,13.00,7.20,1.26,11.88,6.72,1.24
88,Man United,Liverpool,1,1,D,M Atkinson,7,10,2,4,...,1.63,5.00,3.80,1.70,5.50,4.10,1.74,5.03,3.96,1.70
89,Sheffield United,Arsenal,1,0,H,M Dean,8,9,2,3,...,1.91,3.90,3.75,1.90,4.00,3.94,1.98,3.88,3.79,1.93