In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
pd.options.display.float_format = '{:,.2f}'.format
data = pd.read_csv('E0.csv')

In [3]:
data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,E0,19/10/2019,15:00,Tottenham,Watford,1,1,D,0,1,...,2.39,-1.00,1.86,2.04,1.90,2.02,1.91,2.10,1.84,2.04
86,E0,19/10/2019,15:00,Wolves,Southampton,1,1,D,0,0,...,1.66,-0.50,2.11,1.79,2.11,1.83,2.16,1.87,2.08,1.81
87,E0,19/10/2019,17:30,Crystal Palace,Man City,0,2,A,0,2,...,2.91,2.00,1.87,2.03,1.92,2.02,1.95,2.07,1.86,2.01
88,E0,20/10/2019,16:30,Man United,Liverpool,1,1,D,1,0,...,1.82,0.50,1.90,2.00,1.93,2.01,1.95,2.05,1.90,1.99
89,E0,21/10/2019,20:00,Sheffield United,Arsenal,1,0,H,1,0,...,1.94,0.25,2.05,1.75,2.15,1.79,2.19,1.83,2.12,1.79

In [4]:
data.columns.values

array(['Div', 'Date', 'Time', 'HomeTeam', 'AwayTeam', 'FTHG', 'FTAG',
       'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST',
       'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR', 'B365H', 'B365D',
       'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD',
       'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD',
       'MaxA', 'AvgH', 'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5',
       'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh',
       'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH',
       'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA',
       'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 'WHCH', 'WHCD',
       'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH',
       'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5',
       'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH',
       'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH',
       'AvgCAHA'], dtype=object)

In [5]:
mdata = data.drop(columns=['Div', 'Date', 'Time','HTHG', 'HTAG', 'HTR', 'HS', 'AS', 'HST', 
       'AST', 'HC', 'AC', 'B365H', 'B365D',
       'B365A', 'BWH', 'BWD', 'BWA', 'IWH', 'IWD', 'IWA', 'PSH', 'PSD',
       'PSA', 'WHH', 'WHD', 'WHA', 'VCH', 'VCD', 'VCA', 'MaxH', 'MaxD',
       'MaxA', 'AvgH', 'AvgD', 'AvgA', 'B365>2.5', 'B365<2.5', 'P>2.5',
       'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh',
       'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH',
       'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA',
       'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 'WHCH', 'WHCD',
       'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH',
       'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5',
       'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH',
       'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA'])
mdata = mdata.rename(columns={'FTHG': 'HomeGoals', 'FTAG': 'AwayGoals', 'FTR': 'Result', 'HF': 'HomeFouls',
                            'AF': 'AwayFouls', 'HY': 'HomeYellow', 'AY': 'AwayYellow', 'HR': 'HomeRed', 'AR': 'AwayRed'})

In [6]:
print("Number of teams: %d" % mdata['AwayTeam'].unique().size)

Number of teams: 20

In [7]:
mdata

,HomeTeam,AwayTeam,HomeGoals,AwayGoals,Result,Referee,HomeFouls,AwayFouls,HomeYellow,AwayYellow,HomeRed,AwayRed
0,Liverpool,Norwich,4,1,H,M Oliver,9,9,0,2,0,0
1,West Ham,Man City,0,5,A,M Dean,6,13,2,2,0,0
2,Bournemouth,Sheffield United,1,1,D,K Friend,10,19,2,1,0,0
3,Burnley,Southampton,3,0,H,G Scott,6,12,0,0,0,0
4,Crystal Palace,Everton,0,0,D,J Moss,16,14,2,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
85,Tottenham,Watford,1,1,D,C Kavanagh,5,9,4,3,0,0
86,Wolves,Southampton,1,1,D,P Bankes,10,17,3,2,0,0
87,Crystal Palace,Man City,0,2,A,A Taylor,8,10,1,1,0,0
88,Man United,Liverpool,1,1,D,M Atkinson,6,14,0,1,0,0
89,Sheffield United,Arsenal,1,0,H,M Dean,10,12,4,4,0,0

In [8]:
mdata.loc[mdata['AwayTeam'] == 'Liverpool']['AwayGoals']

15    2
37    3
59    2
60    1
88    1
Name: AwayGoals, dtype: int64

In [17]:
def getMean(df, column, team_column_name, team):
    team_data = mdata.loc[mdata[team_column_name] == team]
    return team_data[column].mean(axis = 0)

In [22]:
stats = pd.DataFrame(columns=['Team', 'HomeGoals', 'AwayGoals', 'HomeFouls', 'AwayFouls', 'HomeYellows',
                              'AwayYellows', 'HomeReds', 'AwayReds'])

home_team_column = 'HomeTeam'
away_team_column = 'AwayTeam'

for team in mdata['HomeTeam'].unique():
    h_mean_goals = getMean(mdata, 'HomeGoals', home_team_column, team)
    h_mean_fouls = getMean(mdata, 'HomeFouls', home_team_column, team)
    h_mean_yellow = getMean(mdata, 'HomeYellow', home_team_column, team)
    h_mean_red = getMean(mdata, 'HomeRed', home_team_column, team)
    a_mean_goals = getMean(mdata, 'AwayGoals', away_team_column, team)
    a_mean_fouls = getMean(mdata, 'AwayFouls', away_team_column, team)
    a_mean_yellow = getMean(mdata, 'AwayYellow', away_team_column, team)
    a_mean_red = getMean(mdata, 'AwayRed', away_team_column, team)
    
    stats = stats.append({'Team': team, 'HomeGoals': h_mean_goals, 'AwayGoals': a_mean_goals, 
                          'HomeFouls': h_mean_fouls, 'AwayFouls': a_mean_fouls, 
                          'HomeYellows': h_mean_yellow, 'AwayYellows': a_mean_yellow,
                          'HomeReds': h_mean_red, 'AwayReds': a_mean_red}, ignore_index = True)
    
stats

,Team,HomeGoals,AwayGoals,HomeFouls,AwayFouls,HomeYellows,AwayYellows,HomeReds,AwayReds
0,Liverpool,3.00,1.80,7.75,10.60,0.50,1.20,0.00,0.00
1,West Ham,1.25,1.20,10.25,11.20,2.25,1.40,0.00,0.20
2,Bournemouth,1.40,1.50,7.40,9.75,1.40,2.50,0.00,0.00
3,Burnley,1.50,1.20,8.00,11.00,0.50,2.40,0.00,0.00
4,Crystal Palace,0.80,1.00,12.00,11.75,2.00,2.25,0.00,0.00
5,Watford,0.75,0.40,12.00,9.20,1.00,2.40,0.00,0.00
6,Tottenham,2.00,1.25,10.40,10.75,2.20,2.00,0.20,0.00
7,Leicester,2.40,1.00,8.80,12.75,0.60,1.50,0.00,0.00
8,Newcastle,0.50,0.60,10.25,8.20,2.00,1.40,0.00,0.20
9,Man United,1.60,0.50,12.20,8.50,2.00,2.25,0.00,0.00
10,Arsenal,2.00,1.00,12.75,8.20,2.75,2.60,0.25,0.00
11,Aston Villa,1.40,2.00,10.40,14.25,1.20,2.00,0.00,0.25
12,Brighton,1.25,0.80,11.00,11.00,0.75,1.60,0.25,0.20
13,Everton,1.40,0.25,10.20,14.50,1.60,2.25,0.00,0.50
14,Norwich,2.25,0.20,10.00,10.00,1.50,1.60,0.00,0.00
15,Southampton,1.00,1.00,10.75,12.40,1.00,1.60,0.25,0.00
16,Man City,3.50,3.00,10.00,10.20,2.25,1.80,0.00,0.00
17,Sheffield United,0.60,1.25,11.00,11.25,2.00,1.75,0.20,0.00
18,Chelsea,1.40,3.00,7.40,12.00,1.60,2.00,0.00,0.00
19,Wolves,1.40,1.25,9.80,12.25,1.20,2.25,0.00,0.50